<h1>Logga in</h1>
<%= form_tag sessions_path, :class => "user_form" do |f| %>
	<%= text_field_tag :email, params[:email], :placeholder => "Email" %>
	<%= password_field_tag :password, params[:password], :placeholder => "Password" %>
	<%= submit_tag("Logga in") %>
<% end %>

<p> Ny användare? </p><a href="/registrera" class="four columns <%= "active" if @active_page == "/registrera" %>" >Registrera dig</a>
