
<h1><%= @Project.project_name %> </h1>

	<ul>
		<li><%= "Projektnamn: #{@Project.project_name}" %></li>
		<li><%= "Beskrivning: #{@Project.description}" %></li>
		<li><%= "Start datum: #{@Project.start_date}" %></li>
		<li><%= "Slut datum: #{@Project.end_date}" %></li>
	</ul>
