<h1>Registrera</h1>

<%= form_for @user_to_create, :url => { :action => "create"}, :html => { :class => "create_user"} do |f| %>

	<%= f.text_field :first_name, :placeholder => "Förnamn" %>
	<%= f.text_field :last_name, :placeholder => "Efternamn" %>
	<%= f.text_field :email, :placeholder => "Email" %>
	<%= f.password_field :password, :placeholder => "Password" %>
	<%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>

	<%= submit_tag("Registrera") %>
<% end %>